@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        height: 100vh;
        background-image: linear-gradient(to bottom, rgb(74, 3, 133), rgb(8, 185, 162))
    }

    main {
        width: 80vw;
        height: 310px;
    }

    main > div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    article {
        float: right;
        padding: 3px 10px 0px 10px;
        
        width: 66%;
        
    }

}

@media screen and (min-width: 1024px) {
    
    body {
        height: 100vh;
        background-image: linear-gradient(to bottom, rgb(74, 3, 133), rgb(8, 185, 162))
    }

    main {
        width: 900px;
        height: 350px;
    }

    div#imagem {
        
        float: right;
        background-position: center;
        
        height: 100%;
        width: 47%;

    }

    article {
        float: left; 

        width: 50%;
        height: 100%;

    }

    p {
        font-size: 1em;
        margin-bottom: 15px;
    }
    
}